<div class="container">
    <h1 class="container__title">{{introinfo.title}}</h1>
<div class="container-2">
    <div class="" *ngFor="let img of introinfo.img">
        <img class="container-2__img"  src="{{img.url}}" alt="{{img.alt}}">
    </div>
</div>

</div>

