@import '../../../../styles/colors.scss';
@import '../../../../styles/sizes.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/responsive.scss';

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
        flex-direction: row;
    }
    &__img {
        color: black;
        width: 100%;
    }
}

.container {
    background-color: $primarycolor;
    width: 100%;
    display: flex;
    flex-direction: column;


    &__title {
        margin: 10px;
        line-height: 0.75;
        text-align: center;
        font-size: 60px;
        color: white;
        font-family: $fonttitles;
        @include tablet {
            font-size: 100px;
        }
        @include desktop {
            margin: 30px;
            font-size: 200px;
        }
}

}