@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/responsive.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__goal-text {
        color: $fourcolor;
        font-family: $fonttext;
        margin: 20px;
        @include tablet {
            padding-left: 30%;
            padding-right: 30%;
        }
    }
    &__goal-p {
        margin: 10px;
        color: $basecolor;
        font-family: $fonttext;
    }
    &__goal-prueba{
        color: $basecolor;
        font-family: $fonttext;
        font-weight: bold;
        @include tablet {
            padding-left: 40%;
            padding-right: 40%;
        }
    }
}
