<div class="container">
    <h2 class="container__goal-text">{{goals.title}}</h2>
    <p class="container__goal-p">{{goals.parragraph}}</p>
    <p class="container__goal-prueba">{{goals.copy}}</p>
</div>
