<app-intro-info [introinfo]="introinfo"></app-intro-info>
<app-goals [goals]="goals"></app-goals>
<app-form (sendForm)="subscribeForm($event)">
</app-form>
<div *ngIf="resquest != null">
    <p>Bienvenido {{resquest!.name}}</p>
</div>

