@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/responsive.scss';
@import '../../../../styles/sizes.scss';


.text{
    margin: 20px 0px 20px 0px;
    justify-content: center;
    text-align: center;
    font-family: $fonttext;
}
.form-class {
    display: flex;
    flex-direction: column;
    font-family: $fonttext;
    text-decoration: none;
    border: solid 0 white;
    align-items: center;
    justify-content: center;

    &__fieldset {
        border: solid 0 white;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__input {
        text-align: center;
        border: solid 0 white;
        border-bottom: solid 2px rgb(74, 74, 74);
    }
}

.button-class {
    font-family: $fonttext;
    margin: 30px;
    background-color: $thirdcolor;
    width: 130px;
    height: 40px;
    border: white;
}