<h3 class="text">¡Regístrate, y recibe nuestra newsletter mensual gratuita!</h3>
<form class="form-class" novalidate (ngSubmit)="onSubmit()" [formGroup]="newsletterForm">
    <fieldset class="form-class__fieldset">
        <label class="form-class__label" for="name">Nombre:</label>
        <input class="form-class__input" type="text" id="name" formControlName="name">
        <div *ngIf="(!newsletterForm?.get('name')?.valid && newsletterForm?.get('name')?.dirty) || !submitted">
            ¡Es incorrecto!
        </div>
    </fieldset>

    <fieldset class="form-class__fieldset">
        <label class="form-class__label"  for="mail">Email:</label>
        <input class="form-class__input" type="text" id="mail" formControlName="mail">
        <div *ngIf="(!newsletterForm?.get('mail')?.valid && newsletterForm?.get('mail')?.dirty) || !submitted">
            ¡Es incorrecto!
        </div>
    </fieldset>

    <fieldset class="form-class__fieldset">
        <label class="form-class__label" for="age">Edad:</label>
        <input class="form-class__input" type="number" id="age" formControlName="age">
        <div *ngIf="(!newsletterForm?.get('age')?.valid && newsletterForm?.get('age')?.dirty) || !submitted">
            ¡Es incorrecto!
        </div>
    </fieldset>

    <button class="button-class" type="submit" [disabled]="!newsletterForm?.valid">Registrarse</button>
</form>