<div class="container">
    <img class="container__img" src="{{logo}}">
    <a class="container__a">{{chat}}</a>
    <a class="container__a">{{videoconsulta}}</a>
    <a class="container__a">{{especialidades}}</a>
    <a class="container__a">{{medicosycentros}}</a>
    <a class="container__a">{{descubre}}</a>
</div>
