@import '../../../styles/fonts.scss';
@import '../../../styles/responsive.scss';

.container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: $fonttext;
    @include tablet {
        justify-content: space-between;
        padding-right: 80px;
        padding-left: 80px;
        font-size: 18px;
    }
    @include desktop {
        justify-content: space-between;
        padding-right: 200px;
        padding-left: 200px;
        font-size: 20px;
    }


    &__img {
        width: 40px;
        @include desktop {
            width: 70px;
        }
        }

    &__img:hover {
        transform: scale(1) rotate(360deg);
        transition: 1s;
    }

    &__a {
        display: none;
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }
}